{% extends 'base.html.twig' %}

{% block title %}Edit Etudiant{% endblock %}

{% block body %}
    <h1>Modifier un etudiant</h1>

    {{ include('etudiant/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('etudiant_index') }}" class="btn btn-primary btn-sm">Retourne à la list</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
